#imageContainer{
    top:-10px;
    position: absolute;
    z-index: -1 ;
    overflow: hidden; 
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
   
}
.unGoalCards
{
    min-height: 15rem;
    max-height: 15rem;
    max-width:18rem;
    max-width:18rem;
    overflow: hidden;
}
.cardContainer
{
   padding: 15px;
}
#homePage
{

}
#pages{
    width: 100%;
    max-width: none;
    
}
.page{
    height: 675px;
    
    padding: 0;
    margin: 0;
}
body{
    
    height: 3000px;
}
img{
    -webkit-filter: brightness(50%);
    width:100%;
    height: 100%;   

}
#cards{

    background-color: green;
    
}

#imageText{
    font-size: 30px;
    position:inherit;
    top: 90%;
    font-family: American Typewriter, serif;
    left: 40%;  
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(229, 255, 0);
}
#aboutSummary{
    padding: 30px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    background: white;
    font-style: italic;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.unGoalCards .card-header{
    background-color: aquamarine;
}

 


