ul {
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}

#navBar {
  padding: 20px;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  color: rgb(255, 230, 0);
}

.button {
  font-family: "Times New Roman", Times, serif;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  float: right;
  color: rgb(255, 255, 255);
  padding: 11px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  color: #100;
}

.logo {
  display: inline-block;
  background-image: url('Enactus-logoAston.png');
  width: 100px;
  height: 60px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.currentLink {
  color: darkgrey;
}